.doctor-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.doctor-search-container h1 {
  font-weight: bold;
  text-align: center;
  margin: 50px 0;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.read-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a7a7a7;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.read-container input {
  width: 280px;
}

.read-container button {
  margin-bottom: 0px;
}

.search-input {
  background-color: #fff;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  height: 40px;
  width: 240px;
  margin-bottom: 25px;
}

.search-input::placeholder {
  color: #d3cccc;
}

.form-button {
  height: 40px;
  width: 140px;
  margin-bottom: 35px;
  color: #fff;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}


@media (min-width: 576px) {
    .search-input {
        width: 480px;
    }
}
